{% extends "base.html" %}

{% block content %}

<h2>Basket</h2>

{% if basket_items|length == 0 %}
<p>Cart is Empty. Please add some items to cart.</p>
{% endif %}

<div class="grid grid-cols-3 gap-4 m-12">
    <div class="col-span-2">

        <div class="flex flex-wrap">
            {% for item in basket_items %}

            <a href="#" class="w-[50%] p-6 max-w-sm bg-white rounded-lg border border-gray-200">
                <h3>
                    {{ item.products.items }}
                </h3>
                <h4>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="update_quantity"/>
                        <input type="hidden" name="product_id" value="{{ item.products.id }}"/>
                        <input type="text" name="quantity" value="{{ item.quantity }}"/>
                        <input type="submit" value="Update Quantity"/>
                    </form> 
                </h4>
                <div class="flex justify-between">
                    <p class="font-normal text-gray-700 dark:text-gray-400">
                       Price = £{{ item.products.price }}
                    </p>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="delete"/>
                        <input type="hidden" name="product_id" value="{{ item.products.id }}"/>
                        <input type="submit" value="Remove Product from Basket"/>
                    </form> 
                </div>
            </a>
        </div>
    </div>
</div>
{% endfor %}

<br/><br/>
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="action" value="buy_now"/>
    <input type="submit" value="Buy now"/>
</form> 


{% endblock %}


