{% extends "base.html" %}

{% block content %}

<h2>Basket</h2>

{% if basket_items|length == 0 %}

<p>Cart is Empty. Please add some items to cart.</p>
<form class="hidden" method="post">
    {% csrf_token %}
    <input type="hidden" name="action" value="buy_now"/>
    <input type="submit" value="Buy now"/>
</form>
{% else %}

{% for item in basket_items %}
<div class="bg-order-container">
    <div class="order-container">
        <h3>
            {{ item.products.items }}
        </h3>
        <p class="">
           Price = £{{ item.products.price }}
        </p>
        <p class="">
            Total = £{{ item.line_total }}
         </p>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="delete"/>
            <input type="hidden" name="product_id" value="{{ item.products.id }}"/>
            <button type="submit">Delete</button> 
        </form> 
    </div>    
    <div class="order-container">
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="update_quantity"/>
                        <input type="hidden" name="product_id" value="{{ item.products.id }}"/>
                        <input type="number" min="1" id='product-quantity-{{ item.products.id  }}' name="quantity" value="{{ item.quantity }}"/>
                        <button type='button' onClick="increaseQuantity('product-quantity-{{ item.products.id }}')">+</button>
                        <button type='button' onClick="decreaseQuantity('product-quantity-{{ item.products.id }}')">-</button>
                        <button type="submit">Update Quantity</button>
                    </form> 
                    
    </div>
</div>
{% endfor %}

<br/><br/>
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="action" value="buy_now"/>
    <button type="submit">Buy Now</button>
</form> 

{% endif %}
{% endblock %}


