<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Field to Fork</title>
</head>
<body>
    <div>Head
        <div>
            <div style="width: 10%; float: left; border: 1px solid black;">
                <h2>F2F</h2>
            </div>
            <div style="width: 60%; float: left; border: 1px solid black;">
                <a style="width: 30%; float: left; border: 1px solid black;"href='/products/beef'>Beef</a> 
                <a style="width: 30%; float: left; border: 1px solid black;"href='/products/lamb'>Lamb</a>
                <a style="width: 30%; float: left; border: 1px solid black;"href='/products/chicken'>Chicken</a>
            </div>
            <div style="width: 20%; float: left; border: 1px solid black;">
                <a href="my_orders/">My Orders</a>
                <a href="">Logout</a>
                <a href="">Login</a>
                <a href="">Register</a>
            </div>
        <hr>
        </div>
        <div>
            <img src="/static/backgrounds.jpeg" alt="">
            <div>
                <h1>Field to Fork</h1>
            </div>
        </div>
    </div>
    <hr>
    <div>body
        <div>
            <p>
                Welcome to our organic farm, where we cultivate a sustainable haven
                for raising grass-fed, naturally reared meat. Our farm is dedicated to 
                providing local consumers with the
                highest quality, ethically produced meats. Our animals graze freely on 
                lush pastures, feasting on nutrient-rich grasses that enhance the flavor and
                tenderness of their meat. We embrace organic farming practices, ensuring 
                the well-being of our livestock and the preservation of the environment. With
                a deep commitment to transparency and traceability, we offer discerning
                consumers a delightful and guilt-free option, promoting a healthier 
                lifestyle and supporting the local community. Taste the difference at our farm 
                and experience nature's bounty on your plate.
            </p>
        </div>
        <div>
            <div style="width: 30%; float: left; border: 1px solid black;">
                <div>
                    <img src="/static/beef.jpeg" alt="">
                </div>
                <div>
                    <p>
                        Indulge in the pure delight of our grass-reared
                        organic beef. Raised on our pristine farm, our cattle
                        roam freely, grazing on lush pastures, resulting in
                        flavorful, tender meat that is not only delicious but also
                        a conscious choice for your well-being and the environment.
                    </p>
                </div>
                <div>
                    <a href='/products/beef'>Beef</a>
                </div>
            </div>
            <div style="width: 30%; float: left; border: 1px solid black;">
                <div>
                    <img src="/static/lamb.jpeg" alt="">
                </div>
                <div>
                    <p>
                        Experience the exquisite taste of our grass-reared organic
                        lamb. Our flock peacefully grazes on sun-kissed meadows,
                        resulting in tender and succulent meat that embodies the
                        pure essence of nature. Savor the flavors while knowing
                        you're supporting sustainable agriculture and animal
                        welfare.
                    </p>
                </div>
                <div>
                    <a href='/products/lamb'>Lamb</a>
                </div>
            </div>
            <div style="width: 30%; float: left; border: 1px solid black;">
                <div>
                    <img src="/static/chicken.jpeg" alt="Image of lambs in a field">
                </div>
                <div>
                    <p>
                        Discover the exceptional flavor of our free-range organic
                        chicken. Our feathered friends enjoy a life of freedom,
                        foraging on open pastures and feasting on natural,
                        pesticide-free grains. Taste the difference in every
                        succulent bite while supporting ethical farming practices
                        and a healthier food choice.
                    </p>
                </div>
                <div>
                    <a href='/products/chicken'>Chicken</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div>footer
        <div>
            <a href="">Facebook</a>
            <a href="">Instagram</a>
            <a href="">Twitter</a>
        </div>
    </div>
</body>
</html>