<h1>Field to Fork Farm Shop</h1>



<hr>

<div style="width: 30%; float: left; border: 1px solid black;">
    <a href='/products/beef'>Beef</a> 
</div>

<div style="width: 30%; float: left; border: 1px solid black;">
    <a href='/products/lamb'>Lamb</a>
</div>

<div style="width: 30%; float: left; border: 1px solid black;">
    <a href='/products/chicken'>Chicken</a>
</div>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>Head
        <div>
            <div>
                <h2>F2F</h2>
            </div>
            <div>
                <a href='/products/beef'>Beef</a> 
                <a href='/products/lamb'>Lamb</a>
                <a href='/products/chicken'>Chicken</a>
            </div>
            <div>
                <a href="my_orders/">My Orders</a>
                <a href="">Logout</a>
                <a href="">Login</a>
                <a href="">Register</a>
            </div>

        </div>
        <div>
            <img src="" alt="">
            <div>
                <h1>Field to Fork</h1>
            </div>
        </div>
    </div>
    <div>Body
        <div>
            <p>Description</p>
        </div>
        <div>
            <div>
                <div>
                    <img src="" alt="">
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <a href='/products/beef'>Beef</a>
                </div>
            </div>
            <div>
                <div>
                    <img src="" alt="">
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <a href='/products/lamb'>Lamb</a>
                </div>
            </div>
            <div>
                <div>
                    <img src="" alt="">
                </div>
                <div>
                    <p></p>
                </div>
                <div>
                    <a href='/products/chicken'>Chicken</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>
            <a href="">Facebook</a>
            <a href="">Instagram</a>
            <a href="">Twitter</a>
        </div>
    </div>
</body>
</html>