{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Field to Fork</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div>
        <div class="bg-head-container">
            <div class="heading">
                <a href="/home"><h1>Field to Fork</h1></a>
            </div>
            <div class="menu-container">
                <div class="menu">
                        <a href='/products/beef'>Beef</a>
                </div>
                <div class="menu">               
                        <a href='/products/lamb'>Lamb</a>
                    </div>
                <div class="menu">
                        <a href='/products/chicken'>Chicken</a>
                </div>
            </div>
            <div class="menu-container">
                {% if user.is_authenticated %}
                <a href="my_orders/">Orders</a>
                <a href="">Logout</a>
                {% else %}
                <a href="">Login</a>
                <a href="">Register</a>
                {% endif %}
            </div>
        </div>
        <div class="background">
            <img class="head-image" src="/static/background1.jpeg" alt="Grassy hillside with woodland and snow-capped mountains in the background.">
        </div>
    </div>
    <div>
        <div class="body">
            <h1>About our Farm</h1>
            <p>
                Welcome to our organic farm, where we cultivate a sustainable haven
                for raising grass-fed, naturally reared meat. Our farm is dedicated to 
                providing local consumers with the
                highest quality, ethically produced meats. Our animals graze freely on 
                lush pastures, feasting on nutrient-rich grasses that enhance the flavor and
                tenderness of their meat. We embrace organic farming practices, ensuring 
                the well-being of our livestock and the preservation of the environment. With
                a deep commitment to transparency and traceability, we offer discerning
                consumers a delightful and guilt-free option, promoting a healthier 
                lifestyle and supporting the local community. Taste the difference at our farm 
                and experience nature's bounty on your plate.
            </p>
        </div>
        <div class="product-head">
            <h1>Products</h1>
        </div>
        <div class="bg-product-container">
            <div class="product-container">
                <div class="image center">
                    <img id="image" src="/static/beef.jpeg" alt="">
                </div>
                <div class="center text">
                    <p>
                        Indulge in the pure delight of our grass-reared
                        organic beef. Raised on our pristine farm, our cattle
                        roam freely, grazing on lush pastures, resulting in
                        flavorful, tender meat that is not only delicious but also
                        a conscious choice for your well-being and the environment.
                    </p>
                </div>
                <div class="center">
                    <button>
                        <a href='/products/beef'>Beef</a>
                    </button>
                </div>
            </div>
            <div class="product-container">
                <div class="image center">
                    <img id="image" src="/static/lamb.jpeg" alt="">
                </div>
                <div class="center text">
                    <p>
                        Experience the exquisite taste of our grass-reared organic
                        lamb. Our flock peacefully grazes on sun-kissed meadows,
                        resulting in tender and succulent meat that embodies the
                        pure essence of nature. Savor the flavors while knowing
                        you're supporting sustainable agriculture and animal
                        welfare.
                    </p>
                </div>
                <div class="center">
                <button>
                    <a href='/products/lamb'>Lamb</a>
                </button>
                </div>
            </div>
            <div class="product-container">
                <div class="image center">
                    <img id="image" src="/static/chicken.jpeg" alt="Image of lambs in a field">
                </div>
                <div class="center text">
                    <p>
                        Discover the exceptional flavor of our free-range organic
                        chicken. Our feathered friends enjoy a life of freedom,
                        foraging on open pastures and feasting on natural,
                        pesticide-free grains. Taste the difference in every
                        succulent bite while supporting ethical farming practices
                        and a healthier food choice.
                    </p>
                </div>
                <div class="center">
                <button>
                    <a href='/products/chicken'>Chicken</a>
                </button>
                </div>
            </div>
        </div>
    </div>
    <footer id="social-media">
        <div id="socials">
            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        </div>
    </footer>
     <!-- font awesome script-->
     <script src="https://kit.fontawesome.com/242a22362b.js" crossorigin="anonymous"></script>
</body>
</html>