{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}
<h2>Orders</h2>

<pre>{{ message }}</pre>
    
{% for order in order_list %}
<h2>Order ID {{ order.id }}</h2>

<table border=1>
    <tr>
        <td>Order ID</td>
        <td>Time</td>
    </tr>
    <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.created_on }}</td>
    </tr>
</table>

    <h3>Products in this order</h3>
    <table border=1>
        <tr>
            <td>Product ID</td>
            <td>Product Name</td>
            <td>Price</td>
        </tr>
        {% for order_item in order.products_list %}
            <tr>
                <td>{{ order_item.product.id }}</td>
                <td>{{ order_item.product.items }}</td>
                <td>{{ order_item.product.price }}</td>
            </tr>
        {% endfor %}
        
    </table>
    <b>Total Price £{{ order.total_price }}</b>
{% endfor %}

{% endblock %}