{% extends "base.html" %}

{% block content %}

<div class="bg-product-container">
        {% for product in products %}
    <div class="product-container">
        <div class="image center">
            <img id="image" src="{{ product.items_featured_image.url }}" alt=`Image of a {{ product.items }}`>
        </div>
        <h3>{{ product.items }}</h3>
        <div class="center text">
            <p>
                {{ product.product_description }}
            </p>
            <h4>Weight: {{ product.weight }}</h4> 
            <h4>Price: £{{ product.price }}</h4>
        </div>
        <div class="center">
            <form method="post" action="/basket/">
                {% csrf_token %}
                <input type="hidden" name="action" value="add_to_basket"/>
                <input type="hidden" name="product_id" value="{{ product.id }}"/>
                <button type="submit">Add to Basket</button>
            </form> 
        </div>
    </div>
        {% endfor %}
    
</div>

{% endblock %}
